.wrap {
    height: calc(100vh - 150px);
    background: pink;

    /* display: flex; */
}

.top {
    height: 50px;
    background: #ccc;
    display: flex;
}

.top_left  {
    line-height: 50px;
    padding-left: 30px;
    border-left: 5px solid blue;
    min-width: 150px;
}

.top_right {
    margin-top: 10px;
    margin-left: 20px;
    width: 300px;
}

.add_button {
    margin-top: 10px;
    margin-left: 20px;
}

.content {
    display: flex;
    /*height: calc(100vh - 200px);*/
    background: pink;
}

.left{
    background: yellow;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.right{
    background: blueviolet;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}
